@use './variables' as *;


@font-face{
    font-family: 'Avenir Next1';
    src: url(../../assets/font/AvenirNextLTPro-Regular.otf), url(../../assets/font/Alternatives/AvenirNextLTPro.ttf);
    font-weight: normal;
    font-style: normal;
    color: $primary-black;
}

@font-face{
    font-family: 'Avenir Next2';
     src: url(../../assets/font/AvenirNextLTPro-Bold.otf), url(../../assets/font/Alternatives/AvenirNextLTProBold.ttf);
     font-weight: normal;
     font-style: normal;
     color: $primary-black;
}