$primary-blue: #0095FF;
$primary-black: #323232;
$primary-white: #FFFFFF;
$primary-grey: #AFAFAF;

$secondary-blue: #0065AD;
$secondary-black: #000000;
$secondary-white: #FAFAFA;
$secondary-grey: #E1E1E1;


$tablet: 768px;
$desktop: 1280px;

