@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    &__video-player{
        width: 100%;
        margin-top: 0;
    }
    &__details{
        display: flex;
        flex-wrap: wrap;
        padding-left: 6vw;
        padding-right: 8vw;
        &-title{
            text-align: left;
            width: 100%;
            font-size: 3.5rem;
            margin-top: 2.4rem;
            margin-bottom: 1.6rem;
            border-bottom: 2px solid $primary-grey;
            padding-bottom: 2rem;
        }
        &-info{
            display: flex;
            justify-content: space-between;
            width: 80%;
            height: 8rem;
            text-align: left;
        }
        &-name{
            font-size: 1.75rem;
        }
        &-date{
            font-size: 1.75rem;
            color: $primary-grey;
        }
        &-stats{
            display: flex;
            justify-content: flex-start;
            padding-top: .75rem;
            font-size: 1.75rem;
  
        }
        &-icon{
            width: 2.75rem;
            height: 2.75rem;
            margin-top: .5rem;
            margin-right: 1rem;
        }
        &-views{
            color: $primary-grey;
            margin: 0;
            margin-top: 1rem;
        }
        &-likes{
            color: $primary-grey;
            margin: 0;
            margin-top: 1rem;
        }
        &-description{
<<<<<<< HEAD
            border-top: 2px solid #e1e1e1;
=======
            border-top: 2px solid $primary-grey;
>>>>>>> video-cue
            font-size: 1.75rem;
            text-align: left;
            padding-top: 2rem;
        }

    }


}