@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.next-video{
    @include tablet{
        width: 50vw;
        padding-left: 6vw;
        padding-right: 6vw;
    }
    @include desktop{
        width: 25vw;
        position: absolute;
        right: 0;
        top: 44vw;
        padding-left: 0;
    }

  @include flex-container;
    flex-direction: column;
    text-align: left;
    width: 94vw;
    padding-left: 6vw;
    &__header{
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-grey;
        margin-top: 1rem;
        margin-bottom:3rem;
        @include tablet{
            font-size: 1rem;
            margin-top: 1rem;
            margin-bottom:2rem;
        }
    }
    &__video{
        @include flex-container;
        width: 100%;
        margin-bottom: 3rem;
        @include tablet{
            width: 100%;
            margin-bottom: 2rem;
            flex-wrap: nowrap;
        }
        &:hover{
            cursor: pointer;
            border-bottom: 2px solid $secondary-grey;
        }
    }
    &__img-container{
        width: 32vw;
        height: 18vw;
        border-radius: 5px;
        border: none;
        overflow: hidden;
        justify-content: center;
        @include tablet{
            width: 17vw;
            height: 10vw;
            margin-bottom: 1rem;
            margin-right: 3vw;
        }
        @include desktop{
            width: 11rem;
            height: 5rem;
            margin-bottom: 1rem;
            margin-right: 1vw;
        }
    }
    &__img{
        width: 33vw;
        height: 24vw;
        position: relative;
        bottom: 1rem;
        @include tablet{
            width: 18vw;
            height: 13vw;
            position: relative;
            bottom: 1rem;
        }
        @include desktop{
            width: 11rem;
            height: 6rem;
            position: relative;
            bottom: 0rem;
            right: .5rem;
        }
    }
    &__details{
        @include flex-container;
        flex-direction: column;
        width: 50vw;
        margin-left: 5vw;
        @include tablet{
            width: 60%;
            margin-left: 0vw;
        }
        @include desktop{
            width: 80%;
            margin-left: 0vw;
        }
    }
    &__title{
        font-size: 1.75rem;
        margin-top: 0;
        margin-bottom: .5rem;
        @include tablet{
            font-size: 1.25rem;
            margin-bottom: .25rem;
        }
        @include desktop{
            font-size: 1rem;
            margin-bottom: .25rem;
        }
    }
    &__channel{
        font-size: 1.75rem;
        margin-bottom: 1rem;
        margin-top: 1.25rem;
        @include tablet{
            font-size: 1.25rem;
            margin-bottom: 0;
            margin-top: 1rem;
        }
        @include desktop{
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
}
