@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 23rem;
    width: 100vw;
    @include tablet{
        height: 6rem;
        @include flex-container;
        flex-wrap: nowrap;
        flex-direction: row;
        padding-left: 6vw;
    }
    &__logo{
        text-align: center;
        width: 40vw;
        height: 6rem;
        margin-top: 0rem;
        @include tablet{
            width: 17vw;
            height: 100%;
            margin-top: 0rem;
        }
        &-image{
            width: 40vw;
            height: 100%;
            @include tablet{
                width: 17vw;
                height: 100%;
            }
        }
    }
    &__search{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 94vw;
        padding-left: 6vw;
        @include tablet{
            width: 30vw;
            height: 100%;
            margin-left: 10vw;
            margin-top: 1rem;
            padding-left: 0vw;
        }
    }

    &__search-icon{
        position: relative;
        left: 8vw;
        bottom: .5rem;
        width: 2rem;
        @include tablet{
            width: 1.5rem;
            left: 3.5vw;
        }
    }

    &__search-bar{
        width: 60vw;
        height: 4rem;
        border-radius: 8px;
        border: 2px solid $primary-grey;
        background-color: $secondary-white;
        font-size: 1.5rem;
        padding-left: 4rem;
        margin-bottom: 1rem;
        @include tablet{
            width: 25vw;
            height: 2.5rem;
            font-size: 1rem;
            padding-left: 15%;
            border-radius: 5px;
            border: 1px solid $secondary-grey;
        }
        &::placeholder{
            color: $primary-black;;
        }
        &:focus{
            outline: none;
            border: 2px solid $primary-blue;
        }
    }
    &__avatar-container{
        height: 4.75rem;
        width: 4.75rem;
        border: none;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 4vw;
        margin-bottom: 1rem;
        @include tablet{
            height: 3.25rem;
            width: 3.25rem;
            margin-left: 0vw;
            margin-bottom: 0rem;
            position: absolute;
            right: 4vw;
            top: 1.25rem;
        }
    }
    &__avatar{
        height: 5.25rem;
        width: 6.75rem;
        padding-right: 0rem;
        @include tablet{
            height: 3.75rem;
            width: 4.75rem;
        }
    }
    &__button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 5rem;
        margin-bottom: 1rem;
        @include tablet{
            width: 25vw;
            height: 100%;
            margin-bottom: 0rem;
            margin-left: 0vw;
        }

    }
    &__button{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        @include font-2;
        width: 85%;
        height: 100%;
        border-radius: 8px;
        border: none;
        background-color: $primary-blue;
        color: #FFFFFF;
        font-size: 1.5rem;
        margin-top: 0;
        @include tablet{
            width: 100%;
            height: 3rem;
            font-size: 1rem;
            border-radius: 5px;
            font-size: .875rem;
        }
        &:hover{
            cursor: pointer;
            background-color: $secondary-blue;
        }
        &-icon{
            width: 2.5rem;
            position: relative;
            margin-right: 0;
            left: 8vw;
            @include tablet{
                width: 1.5rem;
                left: 3.5vw;
            }
        }
    }
}

