.comments{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
    }
    &__avatar-container{
        height: 2rem;
        width: 2rem;
        border: none;
        border-radius: 50%;
    }
    &__avatar{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}